.timer {
  display: flex;
  width: 100%;
}

.part {
  flex: 1;
}

.subparts {
  display: flex;
  align-items: flex-end;
  height: 2.5rem;
  border-right: 3px solid #1c1c1c;
}

.subparts:last-child {
  border-left: 3px solid #1c1c1c;
}

.subpart {
  background: #8aef0a;
  height: 2rem;
  border-top: 1px solid #1c1c1c;
  border-bottom: 1px solid #1c1c1c;
}

.subpart:not(:last-child) {
  border-right: 2px solid #1c1c1c;
}
